.answer_button{
   margin-top:150px;    
    margin-left:80px;
    width:200px;
    height: 50px;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    
}
.answer1_button:hover{
    background-color: greenyellow;
}
.submit_button{
    margin-left:150px;
    width:200px;
    height: 50px;
     border: 2px solid red;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    
}
.submit_button:hover{
    background-color: greenyellow;
}
.ques{
    margin-top: 70px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
